@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Avenir');

body, html {
	height: 100%;
	background: #474747 url('../img/stripes_tile.png') repeat;
	font: 18px Avenir, sans-serif;
	color: #363636;
}

#wrapper {
	width: 80%;
	min-width: 1080px;
	min-height: 100%;
	margin: 0 auto;
	overflow: hidden;
	background-color: #FFF;
}

h1 {
	font: bold 48px Avenir, sans-serif;
	color: #474747;
}

h2 {
	font: bold 32px Avenir, sans-serif;
	color: #474747;
}

h3 {
	font: normal 24px Avenir, sans-serif;
	color: #E8175D;
	text-transform: uppercase;
}

#back {
	margin: 0;
	padding: 2px 10px;
	vertical-align: middle;
	border-radius: 5px;
	background-color: #CC527A;
	font: bold 32px Avenir, sans-serif;
	color: #FFF;
	box-shadow: none;
}

nav ul {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0 10px;
	overflow: hidden;
	background-color: #363636;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	font: bold 18px Avenir, sans-serif;
	color: #FFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #E8175D;
}

nav ul li a:active, .active {
	background-color: #E8175D;
	box-shadow: inset 5px 5px 15px #000;
}

nav ul li a:hover .active {
	background-color: #E8175D; /* #0211FC */
	box-shadow: inset 5px 5px 15px #000;
}

main, section {
	margin: 53px auto;
	width: 90%;
	background-color: #FFF;
}

table {
	table-layout: fixed;
	margin: auto;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-collapse: collapse;
	width: 100%;
}

tr {
	display: table-row;
	height: 100px;
	border-bottom: inherit;
	border-color: #363636;
}

tr:nth-child(odd) {
	background: #A8A7A7;
}

td {
	padding: 10px;
	font: bold 18px Avenir, sans-serif;
	border: 0px;
}

td a {
	display: block;
	text-decoration: none;
}

ol#rank {
	list-style: none;
	counter-reset: count;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

ol#rank li {
	counter-increment: count;
	display: flex;
	width: 100%;
	margin: 0;
	padding: 20px 0;
}

ol#rank li::before {
	content: counter(count) '.';
	font-weight: bold;
	font-size: 72px;
	margin-right: 10px;
	font-family: 'Abril Fatface', serif;
	color: #474747;
	line-height: 1;
	vertical-align: middle;
}

ol#rank img {
	float: right;
	margin-left: 20px;
	width: 100px;
	height: auto;
}

dt {
	font-size: 32;
	font-weight: bold;
	color: #E8175D;
}

dd {
	padding-bottom: 20px;
}

dt::after {
	content: ' \2014';
}

pre code {
	background-color: #A8A7A7;
	display: block;
	padding: 10px;
	border: 1px solid #363636;
	font-size: 15px;
}

blockquote {
	font: italic 32px Avenir, sans-serif ;
	margin: 0;
	padding: 0 30px;
	border-left: 10px solid #CC527A;
}

/* 
blockquote::before {
	position: relative;
	top: 20px;
	left: -10px;
	content: '\275D';
	font-size: 100px;
	font-style: normal;
	color: #CC527A;
}
 */

p.author {
	text-align: right;
	text-transform: uppercase;
	color: #CC527A;
	margin-bottom: 30px;
}

p.author::before {
	content: '\2014\0020'
}

footer {
	position: relative;
	bottom: -10px;
	text-align: center;
	color: #FFF;
}

div#jumper {
	margin: 10px auto;
	height: 50px;
	width: 50px;
	display: block;
	overflow: hidden;
	background-color: #CC527A;
	border-radius: 100%;
	font: bold 63px Avenir, sans-serif;
	text-decoration: none;
	text-align: center;
	color: #FFF;
}